@tailwind base;
@tailwind components;
@tailwind utilities;

.xterm-viewport::-webkit-scrollbar {
  display: none;
}

.xterm-viewport {
  -ms-overflow-style: none; /* IE and 엣지 */
  scrollbar-width: none; /* 파이어폭스 */
}

.xterm {
  padding: 2rem;
}
